<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hi B Greenbox Email</title>
  <style>
        @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
  </style>
</head>
<body style="margin: 0; padding: 0; background-color: #ffffff; font-family: Figtree, Arial, sans-serif;">
  <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: #ffffff;">
    <tr>
      <td align="center" style="padding: 40px 10px;">

        <table width="600" cellpadding="0" cellspacing="0" border="0" style="width: 100%; max-width: 600px;">
          <!-- Logo -->
          <tr>
            <td align="left" style="padding-bottom: 30px;padding-left: 30px;">
              <img src="./images/logo.png" alt="Hi B Greenbox" width="150" style="display: block;">
            </td>
          </tr>
          <table style="border-left: 6px solid rgba(117, 154, 49, 1);width: 100%; max-width: 600px;padding-left: 30px;border-radius: 6px;">
          <!-- Heading -->
          <tr>
            <td style="font-size: 28px; font-weight: bold; color: #333333;padding-top: 40px;">
                Your order #Grnb-04722526 updates <img src="./images/Farmer Icon.svg" alt="farmer-icon">  <br>
            </td>
          </tr>

          <tr>
            <td style="color:rgba(45, 52, 31, 1);padding-top: 30px;">
                Track the progress of your order via this link. <a style="color: rgba(45, 52, 31, 1);" href="/">TRACK MY ORDER</a> 
            </td>
          </tr>
          
          <tr>
            <td style="padding-top:25px;">
                <img src="./images/map.svg" alt="map" style="display: block;width: 520px;">
            </td>
          </tr>

          <!-- Message -->
          <tr>
            <td style="font-size: 16px; color: #555555; line-height: 24px; padding-bottom: 20px;padding-top: 15px;">
            <strong>Your order is confirmed</strong><br>
            </td>
          </tr>

          <tr>
            <td style="font-size: 16px; color: #555555; line-height: 24px; padding-bottom: 20px;">
                Use the Instant Transfer option to transfer the amount due to: <br>
                Name: Greenbox (G.B.S.L) Wallet Credits <br>
                Account Number: <strong>5400677289</strong> <br>
                Bank: <strong>Providus </strong>
                <br>
            </td>
          </tr>

          <!-- footer -->
          <tr>
            <td style="color:rgba(45, 52, 31, 1);padding-top: 30px;">
                Use your name or email as a reference and email us at <strong>service@hibgreenbox.com</strong>  with the transfer receipt.
            </td>
          </tr>
           </table>
          <!-- Social Icons -->
          <tr>
            <td align="center" style="padding-bottom: 20px;padding-top: 20px;">
              <a href="#" style="margin: 0 10px;"><img src="./images/new-x.svg" alt="X" width="30" style="display: inline-block;"></a>
              <a href="#" style="margin: 0 10px;"><img src="./images/Facebook.svg" alt="Facebook" width="30" style="display: inline-block;"></a>
              <a href="#" style="margin: 0 10px;"><img src="./images/Insta.svg" alt="Instagram" width="30" style="display: inline-block;"></a>
            </td>
          </tr>

          <!-- Footer -->
          <tr>
            <td style="font-size: 12px; color: #999999; text-align: center; line-height: 20px;padding-bottom: 30px;">
              Copyright Hi B Greenbox 2024 &middot;<br><br>
              Questions? support@hibgreenbox.com or WhatsApp +(234) 816-601-3343.
            </td>
          </tr>

        </table>

      </td>
    </tr>
  </table>
</body>
</html>
